@charset "utf-8";
/* CSS Document */
body {
  background: #4f6d82;
}
.format{
	width: 800px;
 	 margin: 80px auto;
}
h2 {
  color: #95a5a6;
  margin-left: 20px;
  font-size: 30px;
  margin-top: -10px;
  font-weight: normal;
  display: inline-block;
}
 
